*{ box-sizing: border-box;}

body {
	background-color: aliceblue;
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	line-height: 1.4;
	margin: 0;
}

.container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

header {
	padding: 2em 0;
	background-color: #ec897c;
}

main {
	display: flex;
	justify-content: center;
}

/* Block */
.form {
	margin: 4em 0;
	padding: 4em 2em;
	border: 0.15em solid #4d6899;
	font-size: 1.3em;
	width: 30%;
}


